.gr-img-component{
    display: flex;
    align-items: center;
}

.gr-img-component .gr-rounded-border, .gr-img-component.gr-rounded-border{
    --gr-border-radius:15px;
    border-radius: var(--gr-border-radius);
    overflow: hidden;
}



.gr-img-component img{
    width: 100%;
    height: auto;
    margin:0 auto;
}

.gr-img-component .set-width{
    --gr-img-max-width:none;
    max-width: var(--gr-img-max-width);
}